<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  <!-- 1 -->
<head>
<meta charset="ISO-8859-1">
<title th:text="#{welcome}">Flight Reservation System</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="internationalization.js"></script>
<style>
body {background-color: white;}
h1   {color: #DCDCDC;
background-color: #696969;
font-family: courier;
font-size: 50px;
text-align:center;
height: 120px;
display: flex;
justify-content: center;
vertical-align: middle;
}
p    {color: red;}
</style>
</head>
<body>
<h1>Flight Reservation System<br/>
</h1>
<h2 th:text="#{greeting}"></h2><br>
<span th:text="#{lang.change}"></span><br>
<button type="button" th:text="#{lang.eng}" onclick="window.location.href='http://localhost:8080/flightreservation/?localeData=en'"></button>
<button type="button" th:text="#{lang.fr}" onclick="window.location.href='http://localhost:8080/flightreservation/?localeData=fr'"></button>  <!-- 3 -->
<a href="showReg" type="button" style="background-color:powderblue; width:150; height:20; font-size: 15px; position: absolute;
    top: 50%;
    left:45%;
    padding:20px;
    color:black;
    transform: translateX(-50%) translateY(-50%);
    ">REGISTER</a>
<a href="showLogin" type="button" style="background-color:powderblue; width:150; height:20; font-size: 15px; position: absolute;
    top: 50%;
    left: 55%;
    padding:20px;
    color:black;
    transform: translateX(-50%) translateY(-50%);
    ">LOGIN</a>
<a href="contact" type="button" style="background-color:powderblue; width:150; height:20; font-size: 15px; position: absolute;
    top: 50%;
    left: 65%;
    padding:20px;
    color:black;
    transform: translateX(-50%) translateY(-50%);
    ">CONTACT US</a> 
</body>
</html>